<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.5, user-scalable=no">
    <title>Preguntas frecuentes</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <link rel="icon" href="{% static 'home/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header-buttons-container">
            <div class="header-buttons">
                <a href="/" class="btn btn-home">Home</a>
                <a href="{% url 'about' %}" class="btn btn-about">Acerca de mí</a>
                <a href="{% url 'faq' %}" class="btn btn-faq">Preguntas frecuentes</a>    
            </div>
        </div>
    </header>
    <section id="faq">
        <h1>Preguntas Frecuentes</h1>
        <div class="faq-container">
            <div class="faq-item question-1">
                <h1>¿Duele mucho un tatuaje?</h1>
                <p>El dolor de un tatuaje depende de la zona del cuerpo donde se realice. Las áreas con más terminaciones nerviosas, como las costillas, las muñecas, los pies o la columna, suelen ser más sensibles. Por otro lado, zonas con más músculo o grasa, como los brazos o los muslos, suelen ser menos dolorosas.</p>
            </div>
            <div class="faq-item question-2">
                <h1>¿Cómo debo cuidar un tatuaje los primeros días después de hacérmelo?</h1>
                <p>Durante los primeros días, es fundamental mantener el tatuaje limpio y seco, lavar suavemente con agua tibia y jabón neutro, aplicar una crema hidratante o vaselina, evitar exponer el tatuaje al sol, piscinas, saunas o agua salada, no rascar ni retirar las costras que puedan formarse, dejar que se caigan solas.</p>
            </div>
            <div class="faq-item question-3">
                <h1>¿Qué tiempo tarda en curar un tatuaje?</h1>
                <p>El tiempo de curación de un tatuaje varía según el tamaño, la ubicación y el cuidado que se le dé. Generalmente, la capa superficial de la piel tarda entre 7 y 14 días en sanar, pero la curación completa puede tomar hasta 4 semanas.</p>
            </div>
            <div class="faq-item question-4">
                <h1>¿Cuándo debo retocarme un tatuaje?</h1>
                <p>Un tatuaje puede necesitar retoques después de 4 a 6 semanas, una vez que haya cicatrizado completamente, esto es especialmente común si algunas áreas han perdido color durante la curación; pero lo mas normal es que los tatuajes duren años en perfecto estado antes de necesitar un retoque.</p>
            </div>
            <div class="faq-item question-5">
                <h1>¿Cómo sé si un tatuaje está infectado o a punto de infectarse?</h1>
                <p>Un tatuaje podría estar infectado si presenta enrojecimiento excesivo o inflamación persistente, dolor intenso o punzante así como supuración de líquido amarillo o verde.</p>
            </div>
            <div class="faq-item question-6">
                <h1>¿Puedo donar sangre después de tatuarme?</h1>
                <p>En muchos países, puedes donar sangre después de 4 a 6 meses de haberte tatuado, siempre que el tatuaje se haya realizado en un estudio autorizado y con condiciones higiénicas adecuadas. En cuba, se puede hacer después de los 12 meses de haberte hecho tu último tatuaje.</p>
            </div>
            <div class="faq-item question-7">
                <h1>¿Puedo hacerme depilación láser sobre una zona tatuada?</h1>
                <p>No se recomienda realizar depilación láser directamente sobre un tatuaje, ya que el láser puede dañar el diseño y causar irritación en la piel.</p>
            </div>
            <div class="faq-item question-8">
                <h1>¿Me hace ver menos profesional tener tatuajes?</h1>
                <p>Tener tatuajes no te hace menos profesional. Sin embargo, si trabajas en un entorno formal, considera tatuarte en zonas que puedas cubrir fácilmente, como los brazos, la espalda o las piernas.</p>
            </div>
            <div class="faq-item question-9">
                <h1>¿Qué pasa si me doy un golpe o me hago una cicatriz superficial sobre un tatuaje? ¿Se borra?</h1>
                <p>Un golpe o una cicatriz superficial no suelen borrar un tatuaje, pero pueden afectar su apariencia si dañan las capas profundas de la piel. Si esto ocurre, puedes simplemente considerar un retoque para restaurar el diseño.</p>
            </div>
            <div class="faq-item question-10">
                <h1>¿Es peligroso hacerme un tatuaje?</h1>
                <p>Hacerse un tatuaje no es peligroso si se realiza en un estudio profesional y con las condiciones higiénicas adecuadas. En el estudio se trabaja con todas las condiciones sépticas necesarias y con la mayor profesionalidad para garantizar tu seguridad y satisfacción.</p>
            </div>
        </div>
    </section>
</body>
<footer id="footer-faq">
    <div>
        <p>&copy; 2025 Jair Ink. Todos los derechos reservados.<p>
        </div>
    </div>
</footer>
</html>